<% include ./partials/_header.ejs %>
  <body>
    <h1><%= shortURL %>: <%= urls[shortURL].longURL %></h1>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input type="text" name="longURLNew" placeholder="http://">
      <input type="submit" value="Update">
    </form>
  </body>
</html>