<% include ./partials/_header.ejs %>
  <body>
    <div id="linkcontainer">
    <% for (var value in urls) { %>
      <div><%= value %> - <%= urls[value] %> - <a href="/urls/<%= value %>">Edit</a> <form style="display: inline" method="POST" action="/urls/<%= value %>/delete"><button>Delete</button></form></div>
    <% } %>
    </div>
  </body>
</html>